Repository hankthevc/AGITracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, prettier

.pre-commit-config.yaml:

# Pre-commit hooks for AGI Signpost Tracker
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python linting and formatting
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format (Python)
        entry: bash -c 'cd services/etl && ruff format app/'
        language: system
        types: [python]
        pass_filenames: false
        
      - id: ruff-check
        name: Ruff Check (Python)
        entry: bash -c 'cd services/etl && ruff check app/ --fix'
        language: system
        types: [python]
        pass_filenames: false
  
  # TypeScript/JavaScript linting and formatting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (JS/TS/JSON/YAML/MD)
        entry: prettier --write
        language: node
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown]
        additional_dependencies: ['prettier@3.1.0']
        
      - id: eslint
        name: ESLint (TS/JS)
        entry: bash -c 'cd apps/web && npx eslint --fix'
        language: node
        types_or: [typescript, javascript, tsx, jsx]
        pass_filenames: false
        additional_dependencies: ['eslint@8.55.0']
  
  # Git commit checks
  - repo: local
    hooks:
      - id: no-commit-to-main
        name: Don't commit directly to main
        entry: bash -c 'if [ "$(git branch --show-current)" = "main" ]; then echo "❌ Cannot commit directly to main! Create a feature branch."; exit 1; fi'
        language: system
        always_run: true
        pass_filenames: false
        stages: [commit]
  
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-use-type-annotations

  # Security checks
  - repo: local
    hooks:
      - id: detect-secrets
        name: Detect secrets and API keys
        entry: bash -c 'if grep -r -i "api[_-]key\s*=\s*['\''\"]\?sk-" --include="*.py" --include="*.ts" --include="*.js" .; then echo "❌ Hardcoded API key detected!"; exit 1; fi'
        language: system
        pass_filenames: false

# Configuration
default_language_version:
  python: python3.11
  node: '20'

# Don't run on certain file types
exclude: |
  (?x)^(
    .*\.egg-info/.*|
    \.git/.*|
    \.venv/.*|
    node_modules/.*|
    __pycache__/.*|
    \.next/.*|
    build/.*|
    dist/.*|
    \.pytest_cache/.*|
    \.mypy_cache/.*
  )$

# Fail fast - stop on first hook failure
fail_fast: false

# Skip certain hooks on certain operations
stages: [commit, push]

hotfix: Add missing Optional import (P0 production crash)
  services/etl/app/main.py
Due: ruff-format, ruff-check

hotfix: Fix React Hooks rules violation in HistoricalIndexChart
  apps/web/components/HistoricalIndexChart.tsx
Due: prettier

fix(docs): Fix MDX syntax errors in documentation
  docs-site/.gitignore
  docs-site/docs/guides/admin-panel.md
  docs-site/docs/guides/api-usage.md
  docs-site/docs/guides/custom-presets.md
  docs-site/docs/guides/scenario-explorer.md
  docs-site/docs/guides/signpost-deep-dives.md
  docs-site/docs/guides/timeline-visualization.md
  docs-site/docusaurus.config.ts
  docs-site/sidebars.ts
Due: prettier

fix(migrations): Fix broken migration chain (P0 CI failure)
  infra/migrations/versions/019_add_url_validation.py
Due: ruff-format, ruff-check

fix(ci): Fix multiple Alembic heads and missing state variable
  apps/web/components/HistoricalIndexChart.tsx
  infra/migrations/versions/20251029_add_embeddings.py
Due: ruff-format, ruff-check, prettier

fix(frontend): Remove duplicate showCategories prop definition
  apps/web/app/page.tsx
  apps/web/components/HistoricalIndexChart.tsx
Due: prettier

docs: Add deployment session summary and status
  DEPLOYMENT_HOTFIXES_SUMMARY.md
  END_OF_SESSION_STATUS.md
Due: prettier

chore: Trigger Vercel redeploy from latest main
  README.md
Due: prettier

fix(backend): Disable HTTPSRedirectMiddleware causing 307 redirect loops
  services/etl/app/main.py
Due: ruff-format, ruff-check

fix(backend): Initialize FastAPICache with InMemory fallback when Redis fails
  services/etl/app/main.py
Due: ruff-format, ruff-check

docs: Add deployment success summary - v0.4.0 LIVE!
  DEPLOYMENT_SUCCESS.md
Due: prettier

fix(railway): Add startCommand to run migrations on every deployment
  railway.json
Due: prettier

fix(migrations): Remove invalid subquery from index WHERE clause
  infra/migrations/versions/018_add_performance_indexes.py
Due: ruff-format, ruff-check

fix(migrations): Remove index on non-existent analysis_content column
  infra/migrations/versions/018_add_performance_indexes.py
Due: ruff-format, ruff-check

fix(migrations): Remove constraints on potentially non-existent columns
  infra/migrations/versions/020_performance_optimizations.py
Due: ruff-format, ruff-check

fix(migrations): Remove index on non-existent approved column
  infra/migrations/versions/020_performance_optimizations.py
Due: ruff-format, ruff-check

fix(migrations): Temporarily disable migrations 018 & 020 (performance optimizations)
  infra/migrations/versions/018_add_performance_indexes.py
  infra/migrations/versions/020_performance_optimizations.py
Due: ruff-format, ruff-check

fix(migrations): Disable pgvector embeddings migration (Phase 4 RAG)
  infra/migrations/versions/20251029_add_embeddings.py
Due: ruff-format, ruff-check

fix(migrations): Fix IndentationError in embeddings migration
  infra/migrations/versions/20251029_add_embeddings.py
Due: ruff-format, ruff-check

fix(models): Comment out embedding columns (Phase 4 RAG not enabled)
  services/etl/app/models.py
Due: ruff-format, ruff-check

fix(models): Comment out EventSignpostLink columns not in production DB
  services/etl/app/models.py
Due: ruff-format, ruff-check

chore: Phase 2 cleanup - archive remaining obsolete files (11 files)
  cleanup_remaining.sh
  demos/STREAMLIT_DEMO.md
  demos/STREAMLIT_DEPLOYMENT.md
  docs/archive/docker/docker-compose.pgbouncer.yml
  docs/archive/scripts/TEST_AFTER_DEPLOY.sh
  docs/archive/scripts/TEST_FIXED.sh
  docs/archive/scripts/deploy-backend-auto.sh
  docs/archive/scripts/deploy-railway.sh
  docs/archive/scripts/deploy-vercel.sh
  docs/archive/scripts/quick-deploy.sh
  docs/archive/scripts/verify_deployment.sh
  docs/archive/sprints/SPRINT_4_COMPLETE.md
Due: prettier

chore: Phase 3 (final) cleanup - down to 24 essential files
  .railway-trigger
  docs/archive/sprints/SPRINT_10_COMPLETE.md
  docs/archive/sprints/SPRINT_10_PLAN.md
  docs/archive/status/PHASE_1_COMPLETE.txt
  scripts/utilities/cleanup_docs.sh
  scripts/utilities/cleanup_final.sh
  scripts/utilities/cleanup_remaining.sh
Due: prettier

feat(agents): Add agent orchestration system and documentation cleanup
  .cursor/agents/ACTIVATION_GUIDE.md
  .cursor/agents/BACKEND_AGENT.md
  .cursor/agents/DEVOPS_AGENT.md
  .cursor/agents/DOCUMENTATION_AGENT.md
  .cursor/agents/FILE_OWNERSHIP.md
  .cursor/agents/FRONTEND_AGENT.md
  .cursor/agents/QUICK_REFERENCE.md
  .cursor/agents/README.md
  .cursor/agents/SUPERVISOR_AGENT.md
  .cursor/agents/TESTING_AGENT.md
  .cursor/agents/status/.gitkeep
  .cursor/agents/status/DAILY_STANDUP_2025-10-31.md
  .cursor/agents/status/DEVOPS_status.md
  .cursor/agents/status/DOCUMENTATION_status.md
  .cursor/agents/status/METRICS.md
  .cursor/agents/status/WEEK_1_PLAN.md
  .cursor/prompts/AGENT_SYSTEM_OVERVIEW.md
Due: prettier

docs(agent): Update Documentation Agent status - Week 1 Task 1 complete
  .cursor/agents/status/DOCUMENTATION_status.md
Due: prettier

docs(agent): Add daily standup - Oct 31, 2025
  .cursor/agents/status/DAILY_STANDUP_2025-10-31.md
Due: prettier

docs(core): Complete Week 1 Task 2 - Core Documentation Updates
  DEPLOYMENT.md
  README.md
  docs/user-guides/README.md
  services/etl/app/main.py
Due: ruff-format, ruff-check, prettier

docs(agent): Update Documentation Agent status - Week 1 complete
  .cursor/agents/status/DOCUMENTATION_status.md
Due: prettier

docs(guides): Add Quick Tour user guide
  docs/user-guides/quick-tour.md
Due: prettier

docs(agent): Documentation Agent ready for Supervisor review
  .cursor/agents/status/DOCUMENTATION_status.md
Due: prettier

feat(devops): Complete Week 1 - Migration baseline, Railway audit, Production monitoring
  .cursor/agents/status/DEVOPS_BRIEFING.md
  .cursor/agents/status/DEVOPS_status.md
  .cursor/agents/status/DOCUMENTATION_BRIEFING.md
  .cursor/agents/status/INITIALIZATION_COMPLETE.md
  infra/RAILWAY_AUDIT.md
  infra/migrations/MIGRATION_STRATEGY.md
  infra/migrations/versions/022_production_baseline_reconcile.py
  infra/monitoring/ALERT_POLICIES.md
  infra/monitoring/HEALTHCHECKS_INTEGRATION_GUIDE.md
  infra/monitoring/MONITORING_SETUP.md
  services/etl/app/config.py
  services/etl/app/models.py
  services/etl/app/tasks/healthchecks.py
Due: ruff-format, ruff-check, prettier

docs: Add Supervisor Agent review prompt for Week 1 deliverables
  .cursor/agents/SUPERVISOR_REVIEW_PROMPT.md
Due: prettier

docs(devops): Update status - Ready for Week 2
  .cursor/agents/status/DEVOPS_status.md
Due: prettier

docs(guides): Add Evidence Tiers Explained guide
  docs/user-guides/evidence-tiers.md
Due: prettier

docs(guides): Add Dashboard Guide - Week 2 Task 1 COMPLETE
  docs/user-guides/dashboard-guide.md
Due: prettier

docs(agent): Week 2 Task 1 COMPLETE - Ready for coordination
  .cursor/agents/status/DOCUMENTATION_status.md
Due: prettier

feat(backend): Complete Week 2 tasks - Live data ingestion, Celery scheduling, LLM budget
  .cursor/agents/status/BACKEND_status.md
  .cursor/agents/status/TASK1_COMPLETION_REPORT.md
  .cursor/agents/status/TASK2_COMPLETION_REPORT.md
  .cursor/agents/status/TASK3_COMPLETION_REPORT.md
  apps/web/e2e/accessibility.spec.ts
  apps/web/e2e/admin.spec.ts
  apps/web/e2e/export.spec.ts
  apps/web/e2e/historical-chart.spec.ts
  apps/web/e2e/presets.spec.ts
  apps/web/e2e/search.spec.ts
  apps/web/e2e/signposts.spec.ts
  docs/GITHUB_SECRETS.md
  docs/SECURITY_AUDIT.md
  scripts/monitor_celery_tasks.py
  scripts/test_ingestion_live.py
  scripts/test_llm_budget.py
  scripts/verify_dedup.py
  services/etl/app/main.py
  services/etl/app/tasks/analyze/generate_event_analysis.py
  services/etl/app/tasks/news/fetch_arxiv_live.py
  services/etl/app/tasks/news/ingest_arxiv.py
  services/etl/app/tasks/news/ingest_company_blogs.py
  services/etl/app/utils/llm_budget.py
  tests/E2E_COVERAGE.md
Due: ruff-format, ruff-check, prettier

docs(integration): Document Backend Agent's live data ingestion
  .cursor/agents/status/DOCUMENTATION_status.md
  .cursor/agents/status/SUPERVISOR_WEEK_1_REVIEW.md
  .cursor/agents/status/TESTING_AGENT_WEEK_2_STATUS.md
  .cursor/agents/status/WEEK_2_PLAN.md
  .cursor/mcp.json
  .github/dependabot.yml
  .gitignore
  docs/LIVE_DATA_INGESTION.md
  instrumentation-client.js
  instrumentation.js
  next.config.js
  package-lock.json
  package.json
  pages/api/sentry-example-api.js
  pages/sentry-example-page.jsx
  sentry.edge.config.js
  sentry.server.config.js
Due: prettier

docs(coordination): Multi-agent coordination summary
  .cursor/agents/status/MULTI_AGENT_COORDINATION_SUMMARY.md
Due: prettier
