Repository hankthevc/AGITracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, prettier

ruff-format:
  name: Ruff Format (Python)
  entry: bash -c 'cd services/etl && ruff format app/'
  language: system
  pass_filenames: false

ruff-check:
  name: Ruff Check (Python)
  entry: bash -c 'cd services/etl && ruff check app/ --fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier (JS/TS/JSON/YAML/MD)
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.1.0

feat(phase4): incident tracker complete - migration + API + tests + UI
  apps/web/app/incidents/error.tsx
  apps/web/app/incidents/loading.tsx
  apps/web/app/incidents/page.tsx
  audit_snapshot/COMMIT.txt
  audit_snapshot/MANIFEST.txt
  infra/migrations/versions/034_add_incidents_table.py
  services/etl/app/main.py
  services/etl/app/models.py
  services/etl/app/routers/incidents.py
  services/etl/tests/test_incidents_api.py
Due: ruff-format, ruff-check, prettier

feat(phase5): weekly story generator complete
  apps/web/app/stories/error.tsx
  apps/web/app/stories/loading.tsx
  apps/web/app/stories/page.tsx
  infra/migrations/versions/035_add_stories_table.py
  services/etl/app/main.py
  services/etl/app/models.py
  services/etl/app/routers/stories.py
Due: ruff-format, ruff-check, prettier

feat(phase6-7): UI polish + ops hardening
  apps/web/styles/tokens.css
  docs/runbooks/DEPLOYMENT.md
  docs/runbooks/ROLLBACK.md
  services/etl/app/utils/cache_helpers.py
Due: ruff-format, ruff-check, prettier

docs: update CHANGELOG + PHASES status - all phases complete
  CHANGELOG.md
  PHASES_1-7_STATUS.md
  docs/ops/STATE_REPORT_FINAL.md
  tools/verify_audit.sh
Due: prettier

docs: add GPT-5 final audit instructions
  GPT5_AUDIT_FINAL_INSTRUCTIONS.md
  audit_snapshot/COMMIT.txt
  audit_snapshot/MANIFEST.txt
Due: prettier

fix(p1): address all GPT-5 Pro P1 findings for A+ grade
  services/etl/app/auth.py
  services/etl/app/main.py
  services/etl/app/models.py
  services/etl/app/routers/progress_index.py
  services/etl/app/utils/audit.py
  tools/verify_audit.sh
Due: ruff-format, ruff-check

chore: add ZIP/bundle to gitignore + update audit metadata
  .gitignore
  audit_snapshot/COMMIT.txt
  audit_snapshot/MANIFEST.txt
Due: none

fix(lint): add eslint-disable for safe dynamic href expressions
  apps/web/app/admin/review/page.tsx
  apps/web/app/chat/page.tsx
  apps/web/app/news/page.tsx
  apps/web/components/ThisWeeksMovesStrip.tsx
  apps/web/components/events/RetractionBanner.tsx
  apps/web/lib/SafeLink.tsx
Due: prettier

fix(lint): correct eslint-disable syntax for JSX
  apps/web/app/admin/review/page.tsx
  apps/web/app/chat/page.tsx
  apps/web/app/news/page.tsx
  apps/web/components/ThisWeeksMovesStrip.tsx
  apps/web/components/events/RetractionBanner.tsx
  apps/web/lib/SafeLink.tsx
Due: prettier

fix(syntax): close fragment tag in RetractionBanner
  apps/web/components/events/RetractionBanner.tsx
Due: prettier

fix(lint): change SafeLink rule to warn to unblock Vercel build
  apps/web/.eslintrc.js
Due: prettier

fix(csp): restore unsafe-inline for Next.js compatibility
  apps/web/next.config.js
Due: prettier

fix(critical): restore all models - add new models without deleting existing
  services/etl/app/models.py
Due: ruff-format, ruff-check

docs: production audit summary for GPT-5 Pro
  GPT5_PRODUCTION_AUDIT.md
  audit_snapshot/COMMIT.txt
  audit_snapshot/MANIFEST.txt
Due: prettier

feat(design): PR1+PR2 foundations - fonts, tokens, AppShell, components
  apps/web/app/layout.tsx
  apps/web/app/news/page.tsx
  apps/web/components/AppShell.module.css
  apps/web/components/AppShell.tsx
  apps/web/components/SeverityChip.module.css
  apps/web/components/SeverityChip.tsx
  apps/web/components/StoryCard.module.css
  apps/web/components/StoryCard.tsx
  apps/web/components/ThisWeeksMovesStrip.tsx
  apps/web/components/WeightSlider.module.css
  apps/web/components/WeightSlider.tsx
  apps/web/components/events/RetractionBanner.tsx
  apps/web/styles/charts.css
  apps/web/styles/tokens.css
  services/etl/app/routers/progress_index.py
  tools/verify_audit.sh
Due: ruff-format, ruff-check, prettier

feat(design): PR3 page layouts - simulate 2-pane, stories editorial, OG route
  apps/web/app/api/og/route.tsx
  apps/web/app/simulate/simulate.module.css
  apps/web/app/stories/stories.module.css
Due: prettier

fix(build): correct tokens.css import path
  apps/web/app/layout.tsx
Due: prettier

fix(critical): indentation error in progress_index.py
  services/etl/app/routers/progress_index.py
Due: ruff-format, ruff-check

fix(cors): add agi-tracker-web.vercel.app to allowed origins
  services/etl/app/config.py
Due: ruff-format, ruff-check

fix(api): add Next.js rewrite proxy to eliminate CORS issues
  apps/web/next.config.js
Due: prettier

feat(ui): wire AppShell globally, add diagnostics page
  apps/web/app/design/diagnostics/page.tsx
  apps/web/app/layout.tsx
Due: prettier

fix(api): use relative URLs in production for rewrite proxy
  apps/web/lib/apiBase.ts
Due: prettier

docs: final deployed audit package for GPT-5 Pro
  GPT5_FINAL_DEPLOYED_AUDIT.md
  audit_snapshot/COMMIT.txt
  audit_snapshot/MANIFEST.txt
Due: prettier

feat(signposts): complete signposts directory - backend + frontend
  apps/web/app/signposts/page.tsx
  apps/web/components/SignpostBadge.module.css
  apps/web/components/SignpostBadge.tsx
  services/etl/app/main.py
  services/etl/app/routers/signposts.py
Due: ruff-format, ruff-check, prettier

feat(signposts): add detail page with incidents + forecasts
  apps/web/app/signposts/[code]/page.tsx
Due: prettier

feat(signposts): add nav link + tests - feature complete
  services/etl/tests/test_signposts_api.py
Due: ruff-format, ruff-check

feat(nav): add Signposts link to main navigation
  apps/web/components/AppShell.tsx
Due: prettier

Path conditions:
  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.venv/.*|
  node_modules/.*|
  __pycache__/.*|
  \.next/.*|
  build/.*|
  dist/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.venv/.*|
  node_modules/.*|
  __pycache__/.*|
  \.next/.*|
  build/.*|
  dist/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*
)$

  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: (?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.venv/.*|
  node_modules/.*|
  __pycache__/.*|
  \.next/.*|
  build/.*|
  dist/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*
)$

