Repository hankthevc/AGITracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, prettier

ruff-format:
  name: Ruff Format (Python)
  entry: bash -c 'cd services/etl && ruff format app/'
  language: system
  pass_filenames: false

ruff-check:
  name: Ruff Check (Python)
  entry: bash -c 'cd services/etl && ruff check app/ --fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier (JS/TS/JSON/YAML/MD)
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.1.0

fix(migration): Remove CONCURRENTLY from migration 022 - cannot run in transaction
  infra/migrations/versions/022_production_baseline_reconcile.py
Due: ruff-format, ruff-check

fix(frontend): Force dynamic rendering for admin tasks health route
  apps/web/app/api/admin/tasks/health/route.ts
Due: prettier

feat(admin): Add manual ingestion trigger endpoint
  services/etl/app/main.py
Due: ruff-format, ruff-check

docs(supervisor): Add autonomous monitoring guide + emergency procedures
  .cursor/agents/status/AUTONOMOUS_MONITORING_GUIDE.md
  .cursor/agents/status/CRITICAL_ISSUE.md
  .cursor/agents/status/DEPLOYMENT_VERIFICATION.md
  .cursor/agents/status/EMERGENCY_RECOVERY.md
Due: prettier

docs(supervisor): Add comprehensive Sentry monitoring briefing
  .cursor/agents/status/SENTRY_BRIEFING.md
Due: prettier

feat(monitoring): Enable Sentry backend monitoring
  services/etl/app/main.py
Due: ruff-format, ruff-check

docs(supervisor): Confirm full-stack Sentry monitoring active
  .cursor/agents/status/MONITORING_ACTIVE.md
Due: prettier

fix(deployment): Enable Celery Beat scheduler on Railway
  railway.json
Due: prettier

docs(supervisor): Saturday status report - System healthy, Sentry confirmed working
  .cursor/agents/status/SATURDAY_STATUS_REPORT.md
Due: prettier

SECURITY: Fix P0 critical issues from GPT-5 Pro audit
  .cursor/agents/status/SECURITY_REMEDIATION_PLAN.md
  apps/web/lib/api.ts
  sentry.edge.config.js
  sentry.server.config.js
  services/etl/app/config.py
  services/etl/app/main.py
Due: ruff-format, ruff-check, prettier

docs(supervisor): Document P0 security fixes completion
  .cursor/agents/status/SECURITY_FIXES_COMPLETE.md
Due: prettier

docs(security): Create GPT-5 Phase 2 audit materials
  .cursor/agents/GPT5_FOLLOWUP_PROMPT.md
  .cursor/agents/GPT5_PHASE2_FILES.md
Due: prettier

SECURITY: Fix 4 P0 critical issues from GPT-5 Phase 2 audit
  apps/web/app/events/page.tsx
  apps/web/components/events/EventCard.tsx
  apps/web/lib/urlSanitizer.ts
  infra/migrations/versions/023_add_dedup_hash_unique_constraint.py
  services/etl/app/main.py
  services/etl/app/tasks/news/ingest_arxiv.py
  services/etl/app/tasks/news/ingest_company_blogs.py
Due: ruff-format, ruff-check, prettier

SECURITY: Fix P0 critical issues from GPT-5 Phase 2 audit
  apps/web/app/events/page.tsx
  apps/web/components/events/EventCard.tsx
  apps/web/lib/sanitizeUrl.ts
  infra/migrations/versions/023_add_unique_dedup_hash.py
Due: ruff-format, ruff-check, prettier

fix(deployment): Properly run Celery Beat with supervisord
  Dockerfile
  railway.json
  services/etl/supervisord.conf
Due: prettier

docs(supervisor): Wednesday critical status - Celery Beat fix deployed
  .cursor/agents/status/WEDNESDAY_STATUS_CRITICAL.md
Due: prettier

fix(api): Handle NULL published_at in cursor pagination
  README.md
Due: prettier

fix(api): Add defensive NULL handling in encode_cursor
  services/etl/app/main.py
Due: ruff-format, ruff-check

docs(readme): Comprehensive update - current status, security, operations
  README.md
Due: prettier

docs(supervisor): Wednesday evening summary - Complete operational status
  .cursor/agents/status/WEDNESDAY_EVENING_COMPLETE.md
Due: prettier

fix(ci): Disable GitHub Actions workflows to stop failure emails
  .github/workflows/ci-nightly.yml.disabled
  .github/workflows/ci.yml.disabled
  .github/workflows/dependencies.yml.disabled
  .github/workflows/deploy.yml.disabled
Due: none

chore(repo): Archive agent coordination files and add repo hygiene
  .editorconfig
  .gitattributes
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/security_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  LICENSE
  apps/web/components/events/EventCard.tsx
  apps/web/lib/SafeLink.tsx
  docs/archived/ARCHIVED.md
  docs/archived/agent-coordination/AGENT_PROMPT_5_COORDINATOR.md
  docs/archived/agent-coordination/COORDINATOR_SUMMARY.md
  docs/archived/agent-coordination/HUMAN_INTERVENTION_REQUIRED.md
  docs/archived/agent-coordination/MANUAL_TEST_CHECKLIST.md
  docs/archived/agent-coordination/MERGE_INVENTORY.md
  docs/archived/agent-coordination/START_HERE_HENRY.md
  docs/archived/agent-coordination/UNIFIED_PR_DESCRIPTION.md
  docs/archived/planning/CODE_REVIEW_2025.md
  docs/archived/planning/PRODUCTION_ROADMAP.md
  docs/archived/planning/REVIEW_SUMMARY.md
  docs/archived/planning/REVIEW_VISUAL_SUMMARY.md
  docs/archived/planning/START_HERE_NOW.md
Due: prettier

feat(docs): Add comprehensive ENGINEERING_OVERVIEW.md for senior engineers
  ENGINEERING_OVERVIEW.md
Due: prettier

security(web): Add comprehensive security headers to Next.js
  next.config.js
Due: prettier

fix(web): Actually use SafeLink component in EventCard
  apps/web/components/events/EventCard.tsx
Due: prettier

perf(api): Fix N+1 query in events list endpoint
  services/etl/app/auth.py
  services/etl/app/main.py
Due: ruff-format, ruff-check

ci: Add production-grade CI workflows (non-blocking)
  .github/workflows/ci-api.yml
  .github/workflows/ci-web.yml
  .github/workflows/codeql.yml
Due: prettier

perf(db): Add composite indexes for hot query paths
  infra/migrations/versions/024_add_composite_indexes.py
Due: ruff-format, ruff-check

security(docker): Multi-stage build with non-root user
  Dockerfile
  Dockerfile.old
Due: none

docs(pr): Add comprehensive PR summary for Ben's review
  PR_SUMMARY.md
Due: prettier

docs(pr): Add Ben's 5-minute walk-through guide
  BEN_WALKTHROUGH.md
Due: prettier

fix(web): Enforce SafeLink on all external URLs in layout
  Dockerfile.new
  ENGINEERING_OVERVIEW.md
  GPT5_VERIFICATION_FIXES.md
  apps/web/app/layout.tsx
  next.config.js
Due: prettier

feat(api): Add /healthz endpoint with DB and Redis connectivity checks
  Dockerfile
Due: none

feat(api): Actually implement /healthz endpoint with dependency checks
  services/etl/app/main.py
Due: ruff-format, ruff-check

fix(migrations): Add production safety guards to migration 024
  infra/migrations/versions/024_add_composite_indexes.py
Due: ruff-format, ruff-check

docs(verification): Document all GPT-5 findings addressed
  GPT5_ALL_FINDINGS_ADDRESSED.md
Due: prettier

fix(docs): Reconcile N+1 documentation with reality + CSP production gating
  ENGINEERING_OVERVIEW.md
  apps/web/next.config.js
Due: prettier

test(security): Add blocking security tests for CI
  .github/workflows/ci-api.yml
  services/etl/tests/test_security.py
Due: ruff-format, ruff-check, prettier

feat(security): Add audit logging MVP for admin actions
  infra/migrations/versions/025_add_audit_logs.py
  services/etl/app/utils/audit.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.venv/.*|
  node_modules/.*|
  __pycache__/.*|
  \.next/.*|
  build/.*|
  dist/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.venv/.*|
  node_modules/.*|
  __pycache__/.*|
  \.next/.*|
  build/.*|
  dist/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*
)$

  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: (?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.venv/.*|
  node_modules/.*|
  __pycache__/.*|
  \.next/.*|
  build/.*|
  dist/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*
)$

